@use "sass:color";
/* ### Variables ### */

// Colors
$gray-base: #131313 !default;
$gray-darker: #1C1C1C !default;
$gray-dark: #272727 !default;
$gray: #666 !default;
$gray-light: #999 !default;
$gray-lighter: #CCC !default;

// Brand colors
$brand-primary: #74be2f !default;
$brand-success: #22aa22 !default;
$brand-info: #255EAE !default;
$brand-warning: #E46C2C !default;
$brand-danger: #ff1111 !default;

// Body
$body-bg: $gray-base !default;

// Boxes, containers
$box-bg: $gray-darker;
$box-light-bg: $gray-dark;

// Navbar
$navbar-bg: $box-light-bg;

// Global text color on `<body>`.
$text-base-color: #909090 !default;
$text-light-color: color.adjust($text-base-color, $lightness: 30%);
$text-dark-color: color.adjust($text-base-color, $lightness: -10%);

// Links color
$link-color: color.adjust($brand-info, $lightness: 10%);
$link-hover-color: color.adjust($link-color, $lightness: 15%);

// Headers color
$header-1-color: color.adjust($text-base-color, $lightness: 40%);
$header-2-color: color.adjust($text-base-color, $lightness: 35%);
$header-3-color: color.adjust($text-base-color, $lightness: 30%);
$header-4-color: color.adjust($text-base-color, $lightness: 25%);
$header-5-color: color.adjust($text-base-color, $lightness: 15%);
$header-6-color: color.adjust($text-base-color, $lightness: 10%);

$header-color-map:
    1 color.adjust($text-base-color, $lightness: 40%),
    2 color.adjust($text-base-color, $lightness: 35%),
    3 color.adjust($text-base-color, $lightness: 30%),
    4 color.adjust($text-base-color, $lightness: 25%),
    5 color.adjust($text-base-color, $lightness: 20%),
    6 color.adjust($text-base-color, $lightness: 15%);

// Border colors
$border-base-color: $gray;
$border-light-color: color.adjust($border-base-color, $lightness: 20%);
$border-dark-color: color.adjust($border-base-color, $lightness: -20%);

// Border width
$border-base-width: 1px;

// Border style
$border-base-style: solid;

// Controls, inputs, textareas
$control-base-color: color.adjust($text-base-color, $lightness: 10%);
$control-base-bg: color.adjust($box-light-bg, $lightness: 5%);

// Labels
$label-base-color: color.adjust($text-base-color, $lightness: 5%);
$label-base-bg: $box-bg;
