// Import variables
@import "_variables";

@-moz-document regexp("https?:\/\/(www\.)?synonim\.net.*") {

    @import "components/_containers";
    @import "components/_controls";
    @import "components/_links";
    @import "components/_navbar";
    @import "components/_tables";
    @import "components/_typography";

    html {
        background: $box-bg;
    }

    body {
        background: $body-bg;
        color: $text-base-color;
    }
}
