// Import variables
@use "sass:meta";
@use "_variables";

@document regexp("https?:\/\/(www\.)?synonim\.net.*") {

    @include meta.load-css("components/_containers");
    @include meta.load-css("components/_controls");
    @include meta.load-css("components/_links");
    @include meta.load-css("components/_navbar");
    @include meta.load-css("components/_tables");
    @include meta.load-css("components/_typography");

    html {
        background: variables.$box-bg;
    }

    body {
        background: variables.$body-bg;
        color: variables.$text-base-color;
    }
}
