/* ### Navbar ### */

/* Main navbar*/
#fx {
    background-color: $navbar-bg;
}

/* Upper login bar, above navbar */
#top {
    background: lighten($navbar-bg, 5%);
}

/* Navbar links */

#fx {

    & a {
        border: none;

        &:hover {
            border: none;
        }
    }
}