@use "sass:color";
@use "../variables";

/* ### Controls ### */

textarea, textarea {
    border: 1px solid variables.$border-base-color;
    min-height: 80px !important;
    height: auto;
    resize: vertical;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
textarea {
    color: variables.$control-base-color;
    background: variables.$control-base-bg;
}

// Navbar search input
#fx input[type=text] {
    color: color.adjust(variables.$control-base-color, $lightness: 8%);
    background: color.adjust(variables.$control-base-bg, $lightness: 5%);
    border-color: variables.$border-light-color;
}
