/* ### Controls ### */

textarea, textarea {
    border: 1px solid $border-base-color;
    min-height: 80px !important;
    height: auto;
    resize: vertical;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
textarea {
    color: $control-base-color;
    background: $control-base-bg;
}

// Navbar search input
#fx input[type=text] {
    color: lighten($control-base-color, 8%);
    background: lighten($control-base-bg, 5%);
    border-color: $border-light-color;
}
