@use "../variables";

/* ### Containers ### */

// Change background for all kind of containers.
#mdef,
#bot,
#top,
#page section,
main,
main section,
noscript {
    background: variables.$box-bg;
}

#bot {
    padding-top: 20px;
}

#page {
    background: unset;
    padding-top: 20px;

    & section {
        padding: 20px;
        padding-top: 5px;
    }
}

// Reset some weird width calculation
main .page {
    width: 100%;
}
