@use "sass:color";
@use "../variables";

/* ### Variables ### */

a,
a[href],
#bot a {
    color: variables.$link-color;
    border: none;

    &:hover, &:active, &:focus {
        color: variables.$link-hover-color;
        border: none;
    }
}

#top a {
    color: variables.$link-color;

    &:hover, &:active, &:focus {
        color: variables.$link-hover-color;
    }
}

#top a + a {
    color: variables.$brand-success;

    &:hover, &:active, &:focus {
        color: color.adjust(variables.$brand-success, $lightness: 8%);
    }
}

#top a + a + a {
    color: variables.$brand-danger;

    &:hover, &:active, &:focus {
        color: color.adjust(variables.$brand-danger, $lightness: 8%);
    }
}

.start span a + a + a {
    color: variables.$text-base-color;

    &:hover, &:active, &:focus {
        color: color.adjust(variables.$text-light-color, $lightness: -8%);
    }
}
