/* ### Variables ### */

// Colors
$gray-base: #131313 !default;
$gray-darker: #1C1C1C !default;
$gray-dark: #272727 !default;
$gray: #666 !default;
$gray-light: #999 !default;
$gray-lighter: #CCC !default;

// Body
$body-bg: $gray-base !default;

// Boxes, containers
$box-bg: $gray-darker;
$box-light-bg: $gray-dark;

// Navbar
$navbar-bg: $box-light-bg;
