/* ### Variables ### */

// Colors
$gray-base: #131313 !default;
$gray-darker: #1C1C1C !default;
$gray-dark: #272727 !default;
$gray: #666 !default;
$gray-light: #999 !default;
$gray-lighter: #CCC !default;

// Brand colors
$brand-primary: #74be2f !default;
$brand-primary-dark: #62ae25 !default;
$brand-info: #255EAE !default;
$brand-warning: #E46C2C !default;
$brand-danger: #970000 !default;

// Body
$body-bg: $gray-base !default;

// Boxes, containers
$box-bg: $gray-darker;
$box-light-bg: $gray-dark;

// Navbar
$navbar-bg: $box-light-bg;

// Global text color on `<body>`.
$text-base-color: #909090 !default;
$text-light-color: lighten($text-base-color, 30%);
$text-dark-color: darken($text-base-color, 10%);

// Links color
$link-color: lighten($brand-info, 10%);
$link-hover-color: lighten($link-color, 15%);
