// Import variables
@import "_variables";

@-moz-document regexp("https?:\/\/(www\.)?synonim\.net.*") {

    @import "_components/_containers";

    #fx {
        background-color: $navbar-bg;

        & a {
            border: none;

            &:hover {
                border: none;
            }
        }
    }
}
