/* ### Variables ### */
@-moz-document regexp("https?:\/\/(www\.)?synonim\.net.*") {
  /* ### Containers ### */
  body {
    background: #131313; }
  #page,
  #mdef {
    background: #1C1C1C; }
  /* ### Variables ### */
  a,
  a[href] {
    color: #3275d4; }
    a:hover,
    a[href]:hover {
      color: #72a0e1; }
  /* ### Navbar ### */
  #fx {
    background-color: #272727; }
  /* Navbar links */
  #fx a {
    border: none; }
    #fx a:hover {
      border: none; } }
